table{
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;

}
table th {
    background:#ADD8E6;
    color:#000000;
    font-weight:bold;
    font-size:14px;
}
table th,
table td {
    vertical-align:right;
    padding:10px 20px;
    border-bottom:1px solid #FFFFFF;
}
table tr {
    background:#E6E6FA;
}

@media (min-width:600px){
    table {
	color:#DC143C
}
    table td {
	border-bottom:10px solid #00008B
}
    table th {
	font-size:25px;
}
	
}